@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding: 50px;
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.colorgraph {
  height: 2px;
  border-top: 0;
  background: #00B7FF;
  border-radius: 5px;
}

.navbar-default {
  border-color: #00B7FF;}

.panel {
  border-color: #00B7FF;}

.form-control-inline {
   width: 100%;
   float:left;
   margin-right: 5px;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
  